<H1>Address Lookup</H1>

<p>You searched for: <strong> {{postcode}} </strong> | <a href="{% url 'company' %}">Search again</a></p>
<hr>
<h3>Select your addresss</h3>
<div>
    <!-- Loop over each suggestion and render it as a button -->
    {% for suggestion in suggestions %}
        <form action="{% url 'company_lookup' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="address_id" value="{{ suggestion.address_id }}">
            <input type="hidden" name="postcode" value="{{ postcode }}">
            <button type="submit" name="selected_address" value="{{ suggestion.suggestion }}">{{ suggestion.suggestion }}</button>
        </form>
    {% endfor %}
</div>