Welcome to Tariff Tribe!
<br>
<br>
How it works:
<br>
1. You sign up and create a profile and give us some details about your energy consumption
<br>
2. We analyse your consumption and add you to our marketplace with other small businesses
<br>
3. Energy suppliers bid for your business and you get the best deal
<br>
<br>
Let's get started!

First, tell us your postcode:

<form action="{% url 'address_lookup' %}?postcode=test">
    <input type="text" name="postcode" id="postcode">
    <input type="submit">
</form>
